body { background: #a3f559; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 48px; display: flex; }
.block-helper-0 { color: #d561c8; font-size: 13px; margin-bottom: 5px; }
.block-cart-1 { color: #aeb28e; font-size: 16px; margin-bottom: 5px; }
.block-order-2 { color: #142ac6; font-size: 20px; margin-bottom: 5px; }
.block-order-3 { color: #658086; font-size: 12px; margin-bottom: 5px; }
.block-notify-4 { color: #a925d4; font-size: 13px; margin-bottom: 5px; }